<a id="contactanos"></a>
<style>
  *{
  

  }
  p{
    color: black
    
  }
  .float-end{
    background-color: greenyellow;
    color: green;
  }
  .container{
   
   background-color: whitesmoke;
  }
  img{
    float: right;
    margin-right: 60px;
  }


</style>
    <br><br>

  <!-- FOOTER -->
  <footer class="container">
    
      

    <br>
    <a>
      <img src="assets/cgm.jpeg" width="150px" height="170px" alt="perro ATT">
      </a>
      <br>
   <p> CONTACTANOS<br><br>

   

    CONSTRU GASES MONTAÑO<br>
    Telefono<br>
    Email<br>
    Dirección: Calle 19 # 3-09<br>


</p>
    <p class="float-end"><a href="#">Sube</a></p>
    <p> &middot;<a href="#">Privacidad</a> &middot; <a href="#" >Terminos</a><br><br>
      &copy; 2022. 
    
    Desarrollador: César Antonio Gómez Montaño <br> 
    Correo: cesantonigo@gmail.com.</p>
    <br>
  </footer>

