<!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  <br><br>
  <div class="container marketing">

    <a id="normas"></a>
    <br>
    <div class="row featurette">
      <div class="center">
        <h2 class="featurette-heading fw-normal lh-1">Normas y Certificaciones.</h2>
        <p class="lead">aorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed lacinia arcu, in sodales libero. Donec faucibus lobortis varius. Quisque porttitor libero vitae accumsan interdum. Proin rhoncus pellentesque ante. In ornare elit sed molestie efficitur. Etiam leo dolor, rhoncus eget suscipit vitae, malesuada vitae leo. Donec malesuada gravida enim, a posuere metus mollis ut.</p>
      </div>
      <div class="col-md">
        <img src="assets/minminas.png" width="500px" height="150px" alt="">
        <a href="https://www.sic.gov.co/sites/default/files/files/reglamentos%20tecnicos/Resolucion-9-0902-de-2013.pdf">MINISTERIO DE MINAS Y ENERGIA</a>
      </div>
    </div>
    <br>


    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

    <div class="row">
      <div class="col-lg-4">
         <img src="assets/cgm.jpeg" class="bd-placeholder-img rounded-circle" width="140" height="140" alt="">

        <h2 class="fw-normal">Constru Gases Montaño</h2>
        <p> Verifica nuestra documentación.</p>
        <p><a class="btn btn-secondary" href="#">Ver &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="assets/usercgm.png" class="bd-placeholder-img rounded-circle" width="140" height="140" margin-right="15px" alt="">

        <h2 class="fw-normal">Nuestro personal</h2>
        <p>Instaladores.<br>
          Manuel Antonio Montaño León<br>
          Tecnico Instalaciones de redes de gas
        </p>
      

        <p><a class="btn btn-secondary" href="https://www.gdo.com.co/Paginas/registro-de-instaladores.aspx">Ver &raquo;</a></p>
      </div><!-- /.col-lg-4 -->

      <style>
        p a{
          background-color: rgb(65, 138, 172);

        }
      </style>
      <div class="col-lg-4">
         <img src="https://play-lh.googleusercontent.com/Kf8WTct65hFJxBUDm5E-EpYsiDoLQiGGbnuyP6HBNax43YShXti9THPon1YKB6zPYpA" width="140" height="140" alt="perro ATT">

        <h2 class="fw-normal">Ubicación</h2>
        <p>Accede a nuestra ubicación</p>
        
        <p><a class="btn btn-secondary" href="https://www.google.es/maps/place/Cl.+19+%233-9,+Andaluc%C3%ADa,+Valle+del+Cauca/@4.173717,-76.1634341,19z/data=!3m1!4b1!4m5!3m4!1s0x8e39c947026eec3f:0x7f208caf4788ca33!8m2!3d4.173717!4d-76.1628869?hl=es">Ver &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  </div><!-- /.container -->
  <div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
          <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
        </a>
       </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"/></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"/></svg></a></li>
        <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"/></svg></a></li>
      </ul>
    </footer>
  </div>

