
<div style="text-align:center;">

<iframe src="https://www.oka.com.co/productos/" height="2670px" width="80%"></iframe>
</div>

<style>
    featurette-divider{
        margin: 50%;
    }
</style>
<a id="vision"></a>
    <br><br>
    <hr class="featurette-divider" href="vision">
    

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Visión.</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed lacinia arcu, in sodales libero. Donec faucibus lobortis varius. Quisque porttitor libero vitae accumsan interdum. Proin rhoncus pellentesque ante. In ornare elit sed molestie efficitur. Etiam leo dolor, rhoncus eget suscipit vitae, malesuada vitae leo. Donec malesuada gravida enim, a posuere metus mollis ut.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="https://images.unsplash.com/photo-1674230239291-ac27af1a35d0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzMXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60=" width="350px" height="350px" alt="perro ATT">
      
      </div>
    </div>