<!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
  <br><br>
  <div class="container marketing">


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Constru Gases Montaño. <span class="text-muted">CGM.</span></h2>
        <p class="lead">Quienes Somos.
          <BR><BR>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed lacinia arcu, in sodales libero. Donec faucibus lobortis varius. Quisque porttitor libero vitae accumsan interdum. Proin rhoncus pellentesque ante. In ornare elit sed molestie efficitur. Etiam leo dolor, rhoncus eget suscipit vitae, malesuada vitae leo. Donec malesuada gravida enim, a posuere metus mollis ut. Fusce sodales at purus sit amet tempus. Vestibulum ac arcu ac elit volutpat posuere vitae eu diam. Nulla rutrum ut velit vitae lobortis. Curabitur sit amet eleifend risus, eu porttitor elit. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris accumsan justo a cursus placerat. Vivamus non turpis urna. Nulla ac risus ipsum. Phasellus vitae ullamcorper odio.

        </p>
      </div>
      
      <div class="col-md-5">
    
       <img src="https://images.unsplash.com/photo-1634638021403-70f46d19fc02?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8Y2dtfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60=" width="350px" height="350px" alt="perro ATT">
      </div>
    </div>
  
    
    <a id="vision"></a>
    <br><br>
    <hr class="featurette-divider" href="vision">
    

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Visión.</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed lacinia arcu, in sodales libero. Donec faucibus lobortis varius. Quisque porttitor libero vitae accumsan interdum. Proin rhoncus pellentesque ante. In ornare elit sed molestie efficitur. Etiam leo dolor, rhoncus eget suscipit vitae, malesuada vitae leo. Donec malesuada gravida enim, a posuere metus mollis ut.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="https://images.unsplash.com/photo-1674230239291-ac27af1a35d0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwzMXx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60=" width="350px" height="350px" alt="perro ATT">
      
      </div>
    </div>

    <a id="mision"></a>
    <br><br>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Misión.</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sed lacinia arcu, in sodales libero. Donec faucibus lobortis varius. Quisque porttitor libero vitae accumsan interdum. Proin rhoncus pellentesque ante. In ornare elit sed molestie efficitur. Etiam leo dolor, rhoncus eget suscipit vitae, malesuada vitae leo. Donec malesuada gravida enim, a posuere metus mollis ut.</p>
      </div>
      <div class="col-md-5">
       
        <img src="https://images.unsplash.com/photo-1558661092-f9ad8c1c63c1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGZhbWlsaWF8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" width="500px" height="350px" alt="perro ATT">
      
       
      </div>
    </div>
    <br><br>

   <app-certif></app-certif>
  </div>

